.portada {
    min-width: 10rem;
    background-color: #f8bc23;
    padding: 0.65rem 2rem;
    text-align: center;
    border-width: 0px;
    line-height: 1.6rem;
    border-radius: 200px;
}

.second {
    margin-left: 10px;
}
