.wrapper {
    background-image: linear-gradient(45deg, #c43a30 0, #874da2 100%);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.text {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 50px;
    text-align: justify;
}
.contLink {
    margin-bottom: 50px;
}

.link {
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    background-color: #ff9800;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 0.8em;
}

.link:hover {
    text-decoration: none;
    color: #fff;
    background-color: #fdd091;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .wrapper {
        padding: 50px;
    }
    .text {
        max-width: 620px;
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 10px;
    }
    .contLink {
        margin-bottom: 0px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
