.footerWrapper {
    padding: 20px;
    text-align: center;
    background-color: #f2f3f3;
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 1.2em;
}

.subText {
    font-size: 0.8em;
    margin-top: 10px;
}

.mail {
    width: 34px !important;
    margin-right: 10px;
}

.mail:hover {
    width: 30px !important;
}

.insta {
    width: 34px;
}

.insta:hover {
    width: 30px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .footerWrapper {
        padding: 100px 50px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
