.hide {
    display: none;
}
.navBar {
    width: 100%;
    background-color: #f2f3f3;
    z-index: 1;
}
.logo {
    width: 60px;
    margin-right: 40px;
}

.space {
    margin-right: 20px;
}

.navLink {
    color: #000000;
    line-height: 3;
}

.navLink:hover {
    color: #000000;
}

.instaLogo {
    width: 26px;
}
.instaLogo:hover {
    width: 22px;
}
